language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
    include:
        - php: 5.5
          env: COMPOSER_VERSION=""
        - php: 5.6
          env: COMPOSER_VERSION=""
        - php: 7.0
          env: COMPOSER_VERSION=""
        - php: 7.1
          env: COMPOSER_VERSION=""
        - php: nightly
          env: COMPOSER_VERSION=""

    allow_failures:
        - php: nightly

    fast_finish: true

before_script:
    - composer self-update
    - composer global require --prefer-source phpunit/phpunit:"^4.8 || ^5.7.0" satooshi/php-coveralls:^1.0.0
    - if [ "$COMPOSER_VERSION" == "" ]; then composer install --prefer-source; fi;
    - if [ "$COMPOSER_VERSION" != "" ]; then composer require "composer/composer:${COMPOSER_VERSION}" --no-update; fi;
    - if [ "$COMPOSER_VERSION" != "" ]; then composer update "composer/composer" --prefer-source; fi;
    - mkdir -p ./build/logs

script:
    - ~/.composer/vendor/bin/phpunit -v --coverage-clover ./build/logs/clover.xml

after_script:
    - 'echo ''coverage_clover: build/logs/clover.xml'' >> ./.coveralls.yml'
    - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "nightly" ]; then php ~/.composer/vendor/bin/coveralls -v; fi;'

notifications:
    email: false
